
<div class="col-md-2"></div>

<div class="col-md-8">
 <div class="chat-message-area">
  <ul class="container" id="chat-message-list">
   <% post_comment.room.chat_messages.each do |chat_message| %>
    <%= render "troubles/chat_area_message", chat_message: chat_message, trouble: trouble %>
   <% end %>
  </ul>
 </div>
 
 <!--↓チャット送信フォーム-->
 <div class="chat-form" style="text-align: center">
   <%= form_for chat_message, remote: true do |f| %>
     <%= f.text_area :message, placeholder: "チャット入力", class: "new-message-form" %>
     <%= f.hidden_field :room_id, value: post_comment.room.id %>
     <div style="text-align: center">
       <%= f.submit "チャットを送信" %>
     </div>
   <% end %>
 </div>
</div>

<div class="col-md-2"></div>