    <%  post_comments.each do |post_comment|%> 
    
    <!---->
    <div class="row post-comments-list flex-nowrap">
      
    <div class="col-md-2 host-image"></div>

        <% if current_user == trouble.user && post_comment.is_displayed == true %>  <!-- 自分の悩みに対してのコメント-->
  
        <div class="col-md-8 post-comment-content balloon1-right ">
         <p><%= post_comment.comment %></p>
         <div class="comment-button-area d-flex flex-row-reverse ">
           
           <div class="comment-thanks-area">
           <% if post_comment.is_thanked == false %>
             <%= link_to trouble_post_comment_path( trouble, post_comment), method: :patch, data: { confirm: "感謝します。よろしいですか？" } do %>
                <div class="thanks-post-button btn text-black ">
                  <i class="far fa-heart "></i> 感謝する!
                </div>
             <% end %>
           <% else %>
                <div class="thanks-post-button btn ">
                  <i class="fas fa-heart"> 感謝済み</i>
                </div>
           <% end %>
           </div>

            <div class="comment-like-area　text-right">
              <% if post_comment.liked_by?(current_user) %>
                <%= link_to post_comment_likes_path(post_comment), method: :delete do %>
                  <div class="like-post-button btn btn-primary">
                    <i class="far fa-thumbs-up"></i> <%= post_comment.likes.count %> いいね済み！
                  </div>
                <% end %>
              <% else %>
                <%= link_to post_comment_likes_path(post_comment), method: :post do%>
                  <div class="like-post-button btn btn-success">
                    <i class="far fa-thumbs-up"></i> <%= post_comment.likes.count %> いいね! 
                  </div>
                <% end %>
              <% end %>
            </div>

         </div>
        </div>
        <div class="col-md-2 guest-image mt-auto mb-auto pr-0 pl-0 ">
          <%= attachment_image_tag  post_comment.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size:"100x100", class: "rounded-circle float-right"  %>
          <p class ="position-absolute"><%= post_comment.user.name%> さん</p>
        </div>
          
          
          
        <% elsif current_user != trouble.user%>     <!-- 他人の悩みに対してのコメント-->
        
          <div class="col-md-8 post-comment-content balloon1-right">
            
            <p><%= post_comment.comment %></p>
            
            <div class="comment-like-area text-right">
              <% if post_comment.liked_by?(current_user) %>
                <%= link_to post_comment_likes_path(post_comment), method: :delete do %>
                  <div class="like-post-button btn btn-primary">
                    <i class="far fa-thumbs-up"></i> <%= post_comment.likes.count %> いいね済み！
                  </div>
                <% end %>
              <% else %>
                <%= link_to post_comment_likes_path(post_comment), method: :post do%>
                  <div class="like-post-button btn btn-success">
                    <i class="far fa-thumbs-up"></i> <%= post_comment.likes.count %> いいね! 
                  </div>
                <% end %>
              <% end %>
            </div>
            
          </div>

          <div class="col-md-2 guest-image mt-auto mb-auto pr-0 pl-0">
              <%= attachment_image_tag  post_comment.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size:"100x100", class: "rounded-circle float-right"%>
            <p class ="position-absolute"><%= post_comment.user.name%> さん</p>
          </div>
        <% else %>
        <% end %>

    </div>
    
    
    <div class="row chat-area">
         <% if post_comment.is_thanked == true && (current_user.id == trouble.user_id || current_user.id ==post_comment.user_id) %>     <!--チャット機能を使えるかの条件文-->
           
           <!--↓チャット送信フォーム↓-->
           <div class="chat-form">
             チャット送信フォーム
             <%= form_with model:  chat_message, url: chat_messages_path, local:true do |f| %>
               <%= f.text_area :message, placeholder: "チャット入力" %>
               <%= f.hidden_field :room_id, value: post_comment.room.id %>
               <%= f.submit "チャットを送信" %>
             <% end %>
           </div>
           <!--↑チャット送信フォーム↑-->
           <!--↓チャット表示エリア↓-->
          <% post_comment.room.chat_messages.each do |chat_message| %>
            名前：<%= chat_message.user.name %> :
            <%= chat_message.message %><br>
          <% end %>
           <!--↑チャット表示エリア↑-->
          
         <% end %>
           <!--↑チャットエリア↑-->
      
    </div>

    
    <% end %>
      
