    <%  post_comments.each do |post_comment|%> 
    
    <!---->
    <div class="row post-comments-list flex-nowrap">
      
    <div class="col-md-2 host-image"></div>

        <% if (current_user == trouble.user && post_comment.is_displayed == true) || (current_user != trouble.user) %>
  
        <div class="col-md-8 post-comment-content post-comment-right ">
         <p><%= post_comment.comment %></p>
         <div class="comment-button-area d-flex flex-row-reverse ">
           
           <% if current_user == trouble.user && post_comment.is_displayed == true %>
           <div class="comment-thanks-area">
            <%= render 'troubles/thanks_area', post_comment: post_comment, trouble: trouble%>
           </div>
           <% end %>
           
           <% if user_signed_in?%>
            <div class="comment-like-area　text-right" id="like_buttons_<%= post_comment.id %>" >
              <%= render 'troubles/like_buttons', post_comment: post_comment %>
            </div>
           <% end%>
           
         </div>
        </div>
        <div class="col-md-2 guest-image mt-auto mb-auto pr-0 pl-0 ">
          <%= attachment_image_tag  post_comment.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size:"100x100", class: "rounded-circle float-right"  %>
          <p class ="position-absolute"><%= post_comment.user.name%> さん</p>
        </div>
        <% else %>
        <% end %>

    </div>
    
    
       <% if user_signed_in? && post_comment.is_thanked == true && (current_user.id == trouble.user_id || current_user.id ==post_comment.user_id) %>     <!--チャット機能を使えるかの条件文-->
        <div class="row chat-area">
          <%= render 'troubles/chat_area', chat_message: chat_message, post_comment: post_comment, trouble: trouble %>
        </div>
       <% end %>

    
    <% end %>
      
