  <!-- 変数 search => @search -->
  
  <div class="container">
    <%= search_form_for search, url: search_troubles_path do |f| %>
    <div class="search-top-area row pt-3 pb-3">
      
      <div class="col-md-6 px-0 text-center">
        <%= f.label :title_cont, "キーワード" %>
        <%= f.text_field :title_cont, class: "search-text-form" %>
      </div>
      <div class="col-md-6 px-0 text-center">
        <%= f.label :category_id_eq, "カテゴリー" %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, {prompt: "全て"}, class: "search-category-form" %>
      </div>
      
    </div>
    <div class="search-bottom-area row pb-3">
      <div class="col-md-6 px-0">
        <div class="search-radio-button text-center">
          ステータス
          <%= f.radio_button :is_solved_eq, ''%>
          <%= f.label :is_solved_eq_, "選択しない"%>
          <%= f.radio_button :is_solved_eq, 'true'%>
          <%= f.label :is_solved_eq_true, "解決済み"%>
          <%= f.radio_button :is_solved_eq, 'false'%>
          <%= f.label :is_solved_eq_false, "未解決"%>
        </div>
      </div>
      <div class="col-md-6 px-0 text-center">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search px-5">検索</i>
        </button>
      </div>
    </div>
    <% end %>
  </div>