  <div class="col-md-9 title-area rounded-lg d-flex">
    <div class="trouble-title-left">
      <strong>
      <%= trouble.title %>
      </strong>
        <div class="solved-select-area mb-2 ">
          <!--悩み投稿者だけが解決ステータスをいじれるように記述する必要あり。-->
        <% if current_user == trouble.user %>  
          <% if trouble.is_solved == false %>
            <%= link_to trouble_status_path(trouble), method: :patch, data: { confirm: "解決済みにすると、チャット欄およびコメント欄が封鎖されます。\nよろしいですか？" } do %>
              <i class="far fa-sad-tear ">解決済みにする</i>
            <% end %>
          <% elsif  trouble.is_solved == true %>
              <i class="far fa-smile-beam">解決済み！</i>
          <% end %>
        <% else%>
          <% if trouble.is_solved == false %>
              <i class="far fa-sad-tear ">未解決</i>
          <% elsif  trouble.is_solved == true %>
              <i class="far fa-smile-beam">解決済み!</i>
          <% end %>        
        <% end %>
        </div>
        
        
      <div class="host-name">投稿者名：<%= trouble.user.name%>さん</div>
      <div class="category-name">カテゴリー名： <%= trouble.category.name %></div>
    </div>
  </div>
    <div class="col-md-3 title-area-right">
      <div class="trouble-edit-link">
       <%= link_to "編集画面へ", edit_trouble_path(trouble) %>
      </div>
      <div class="trouble-destroy-link">
       <%= link_to "悩みの削除", trouble_path(trouble), method: :delete %>
      </div>
    </div>
  
  