<% if flash[:likes] %>
  <p><%= flash[:likes] %></p>
<% end %>
<h1>悩み詳細画面</h1>
<div class="trouble-main">
  
  <div class="trouble-title">
    <p>タイトル: <%= @trouble.title %></p>
  </div>
  
  <div class="host-image">ユーザイメージ</div>　 <!-- 後で、ユーザーのイメージを入れる-->
  
  <div class="trouble-content">
    <h5>内容：<%= @trouble.content %></h5>
  </div>
  
  <!--↓コメント一覧↓-->
  <div class="comment-list">
    <% @post_comments.each do |post_comment|%>  
      <% if current_user == @trouble.user && post_comment.is_displayed == false%>　<!--　ログインユーザーの投稿かつ、表示不可のコメントは表示させない。-->
      <% elsif current_user == @trouble.user && post_comment.is_displayed == true %>  <!-- ログインユーザーの投稿で、表示可になったものは、コメント内容と、感謝ボタンを表示する-->
        <!--↓感謝ボタン記述↓-->
         <div class="comment-thanks-area">
          <% if post_comment.is_thanked == false %>
            <%= link_to "感謝する",trouble_post_comment_path(@trouble, post_comment), method: :patch %>
          <% else %>
            <%= link_to "感謝やめる",trouble_post_comment_path(@trouble, post_comment), method: :patch %>
          <% end %>
         </div>
        <!--↑感謝ボタン記述↑-->
        <p>ユーザ名：<%= post_comment.user.name%></p>
        <p>コメント内容：<%= post_comment.comment %></p>
        <p>表示ステータス: <%= post_comment.is_displayed %></p>
      <%else%>   <!--自分の投稿ではない時のコメントは、全て表示させる。-->
        <p>ユーザ名：<%= post_comment.user.name%></p>
        <p>コメント内容：<%= post_comment.comment %></p>
        <p>表示ステータス: <%= post_comment.is_displayed %></p> 
      <% end %>
      
        <% if current_user.id != @trouble.user_id %>  <!--自分の投稿ではない時のコメントは、全て表示させる。-->
        <!--↓いいね欄↓-->
        <div class="comment-like-area">
          <% if post_comment.liked_by?(current_user) %>
            <%= link_to post_comment_likes_path(post_comment), method: :delete do %>
              <p>いいね済み いいね数：<%= post_comment.likes.count %></p>
            <% end %>
          <% else %>
            <%= link_to post_comment_likes_path(post_comment), method: :post do%>
              <p>いいねする いいね数：<%= post_comment.likes.count %></p>
            <% end %>
          <% end %>
        </div>
        <!--↑いいね欄↑-->
       <% end %>
       <!--↓チャットエリア↓-->
       <% if post_comment.is_thanked == true%>    
         <% if post_comment.chat_member?(current_user)%>
         表示あり
         <% end%>
       <% end %>
       <!--↑チャットエリア↑-->
    <% end %>
      
  </div>
  <!--↑コメント一覧↑-->
  
  
  <!--↓コメントフォーム↓-->
  <div class="new-comment">
    <% if current_user.id != @trouble.user_id %>
      <%= form_with(model: [@trouble, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメント入力" %>
        <%= f.hidden_field :trouble_id, value: @trouble.id %>
        <%= f.submit "コメントを送信" %>
      <% end %>
    <% end %>
  </div>
  <!--↑コメントフォーム↑-->
  
</div>

