<!--タイトル部分-->
<div class="container border-bottom">
  <div class = "row trouble-top-area">
    <%= render 'troubles/top_area', trouble: @trouble %>
  </div>
</div>

<!--悩みー内容部分-->
  <div class="container mt-5">
    <div class="row trouble-content-area">
      <%= render 'troubles/content_area', trouble: @trouble %>
    </div>
  </div>
  <!--↓コメント一覧↓-->
  
  <div class="container comment-list">
    <%= render 'troubles/post_comment_area', post_comments: @post_comments, trouble: @trouble, chat_message: @chat_message%>
  </div>
  
  <!--↓コメントフォーム↓-->
  <div class="new-comment">
    <% if current_user.id != @trouble.user_id && @trouble.is_solved == false %>    <!--↓解決済みになったら、コメントが記述できない条件設定↓-->
      <%= form_with(model: [@trouble, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメント入力" %>
        <%= f.hidden_field :trouble_id, value: @trouble.id %>
        <%= f.submit "コメントを送信" %>
      <% end %>
    <% end %>
  </div>

  <!--↑コメントフォーム↑-->
  




