<h1 class="mx-auto" style="width: 75%">ログイン画面</h1>

<div class="new-trouble-form" id="border-default">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  
  <table class="mx-auto user-form-table">
    <tbody>
      <tr class="border-bottom">
        <th><%= f.label :名前 %></th>
        <td  style="width: 83%" ><%= f.text_field :name, class: "user-form", autofocus: true%></td>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "user-form" %></td>
      </tr>
    </tbody>
  </table>
  
    <div class="user-submit-form text-center mt-3 pb-4">
      <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
    </div>
  <% end %>
</div>
